.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ee;

  --primary-color: #058805;
  --secondary-color: #04ff04;
  --inverted-primary-color: #002288;
  --inverted-secondary-color: #0449e0;
}
