.app.light {
    --bg-color: #e8e8ee;
    --inverted-bg-color: #0e0e75;
    --primary-color: #028;
    --secondary-color: #0449e0;
    --inverted-primary-color: #058805;
    --inverted-secondary-color: #04ff04;
}
